*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* header */
/* .header{
    background-color: gray;
    width: 100%;
    height: 80px;
} */
.nav{
    width: 100%;
    height: 80px;
    background-color:#ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav__logo{
    height: auto;
    width: 100px;
    margin-left: 30px;
}
.nav__parrafo{
    text-align: center;
    font-size:1.3rem;
    font-weight: 600;
    padding: 5px;
}
.nav__menu{
    display: flex;
    justify-content: space-around;
    position: relative;
}
.nav__item{
    height: auto;
    width: 100px;
    font-size: 1.2rem;
    text-align: center;
    margin: 0 5px;
    text-decoration: none;
    color: #000000;
}
.nav__icons{
    display: flex;
    height: 70px;
    width: 200px;
    margin-right: 30px;
    justify-content: center;
}
.nav__lupa{
    width: 90px;
    height: auto;
}
.nav__img_lupa{
    width: 25%;
    position: relative;
    top: 20px;
    left: 33px;
}
.nav__carrito{
    width: 90px;
    height: auto;
}
.nav__img_car{
    width: 25%;
    position: relative;
    top: 20px;
    left: 33px;
}


/* ********************************************************* */
/* Seccion principal */
/* carousel */
.section__inicio{
    width: 100%;
    height: 90vh;
    /* background-color: #99ccff; */
}
.img__carousel{
    width: 100%;
    height: 90vh;
}

/******************************************************** */
/* Biografia */
.nosotros{
    width: 100%;
    height: 100vh;
    background-color: #e8e8e8;
    position: relative;
    margin-top: 80px;
}
.nosotros__caja1{
    width: 300px;
    height: 50px;
    /* background-color: #ffcc99; */
    position: relative;
    left: 500px;
    top: 10px;
}
.nosotros__caja2{
    width: 600px;
    height: 400px;
    /* background-color: #ff9966; */
    position: absolute;
    left: 50px;
    top: 130px;
}
.nosotros__parrafo{
    text-align: center;
    font-size: 1.2rem;
    padding: 50px;
}
.nosotros__caja3{
    width: 600px;
    height: 400px;
    /* background-color:#ffff66; */
    position: absolute;
    right: 50px;
    top: 130px;
}
.nosotros__imagen{
    width: 100%;
    border-radius: 3px;
}


/********************************************************* */
/* Productos */
.productos{
    width: 100%;
    height: 1000px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 400px);
    margin-top:80px;
    background-color: #ffffff;
}
.productos__titulo{
    width: 300px;
    height: 50px;
    position: absolute;
    left: 40%;
}
.productos__contenedor{
    width: 280px;
    height: 400px;
    margin-top: 100px;
    margin-left: 25px;
}
.productos__pc1{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.productos__laptop{
    width: 100%;
    height: auto;
    
}
.productos__cuerpo{
    width: 100%;
}

.productos__parrafo{
    text-align: center;
    font-size: 1.1rem;
    margin-top: 2px;
}
.productos__precio{
  text-align: center;
  font-size: 1rem;
}
.productos__boton{
    margin-left: 35%;
}
.productos__botonComprar{
    border: 1px solid black;
    font-size: 1.1rem;
    padding: 5px 10px;
    text-align: center;
    margin: 10px 0;
    border-radius: 5px;
    background-color: #0189C5;
    color: #fff;
    border: 2px solid;
    width: 100px;
}
.productos__botonComprar:hover{
    background-color:#45aeeb ;
}


/********************************************************/
/* Servicios */
.section__servicios{
    width: 100%;
    height: 670px;
    background-color: #e8e8e8;
    margin-top: 50px;
}.servicios__titulo{
    height: 50px;
    width: 300px;
    text-align: center;
    position: relative;
    top: 30px;
    left: 40%;
}

.padre{
    width: inherit;
    height: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    grid-gap:10px;
    margin-top: 70px;
    
}
.hijos{
    width: 250px;   
    height: 260px;
}
.ventas{
    width: 70px;
    height: 80px;
    margin-left: 80px;
    margin-top: 30px;
    margin-bottom: 20px;
}
.ventas__subtitulo{
    text-align: center;
}
.ventas__texto{
    text-align: center;
}
/* ****************************************************** */
/* Contacto */
.section__contacto{
    width: 100%;
    height: 600px;
    margin-top: 30px;
    position: relative;
}
.form__titulo{
   padding: 30px 0;
   text-align: center;
   margin-bottom: 20px;
   font-size: 2.2rem;
}
.form{
    height: auto;
    width: 600px;
    display: flex;
    flex-direction: column;
    margin-left: 80px;
}
.form__label{
   font-size: 1.2rem;
   margin-left: 20px;
   margin-bottom: 10px;
   color: #525252;
}
.form__input{
    width: 80%;
    margin-left: 20px;
    margin-bottom: 10px;
    height: 40px;
    border: 2px solid #d6d6d6;
    border-radius: 5px;
}
.form__textarea{
    width:80%;
    margin-left: 20px;
    border: 1px solid #d6d6d6;
    border-radius: 5px;
}
.form__boton{
    width: 25%;
    margin-left: 20px;
    margin-top: 15px;
    padding: 4px 10px;
    border: 2px solid #d6d6d6;
    border-radius: 6px;
    background-color: #575757;
    color: #fff;
    font-weight: 600;
    font-size: 1.1rem;
}
.form__boton:hover{
    background-color:#c2c2c2;
}
.imagen_derecha{
    width: 500px;
    height: 420px;
    position: absolute;
    top: 100px;
    right: 100px;
}
.sobre{
    width: 100%;
}
/* ******************************************************* */
/* Pie de pagina */
.footer{
    width: 100%;
    height: 250px;
    background-color: #e8e8e8;
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
}
.enlaces__items{
    display: block;
    padding: 3px;
    text-decoration: none;
    color: #000000;
}
.redes__items{
    display: block;
    padding: 3px;
    text-decoration: none;
    color: #000000;
}
.enlaces, .redes, .contacto{
    margin-top: 20px;
}