*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #ebebeb;
    font-family: 'Poppins', sans-serif;
}
/* header */
/* .header{
    background-color: gray;
    width: 100%;
    height: 80px;
} */
.nav{
    width: 100%;
    height: 80px;
    background-color:#C0C0C0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav__logo{
    height: auto;
    width: 100px;
    margin-left: 30px;
}
.nav__parrafo{
    text-align: center;
    font-size:1.3rem;
    font-weight: 600;
    padding: 5px;
}
.nav__menu{
    display: flex;
    justify-content: space-around;
    position: relative;
}
.nav__item{
    height: auto;
    width: 100px;
    font-size: 1.2rem;
    text-align: center;
    margin: 0 5px;
    text-decoration: none;
    color: #000000;
}
.nav__icons{
    display: flex;
    height: 70px;
    width: 200px;
    margin-right: 30px;
    justify-content: center;
}
.nav__lupa{
    width: 90px;
    height: auto;
}
.nav__img_lupa{
    width: 25%;
    position: relative;
    top: 20px;
    left: 33px;
}
.nav__carrito{
    width: 90px;
    height: auto;
}
.nav__img_car{
    width: 25%;
    position: relative;
    top: 20px;
    left: 33px;
}


/* ********************************************************* */
/* Seccion principal */
/* carousel */
.section__inicio{
    width: 100%;
    height: 90vh;
    /* background-color: #99ccff; */
}
.img__carousel{
    width: 100%;
    height: 90vh;
}

/******************************************************** */
/* Biografia */
.nosotros{
    width: 100%;
    height: 100vh;
    /* background-color: #0073e6; */
    position: relative;
    margin-top: 80px;
}
.nosotros__caja1{
    width: 300px;
    height: 50px;
    /* background-color: #ffcc99; */
    position: relative;
    left: 500px;
    top: 10px;
}
.nosotros__caja2{
    width: 600px;
    height: 400px;
    /* background-color: #ff9966; */
    position: absolute;
    left: 50px;
    top: 130px;
}
.nosotros__parrafo{
    text-align: center;
    font-size: 1.2rem;
    padding: 50px;
}
.nosotros__caja3{
    width: 600px;
    height: 400px;
    /* background-color:#ffff66; */
    position: absolute;
    right: 50px;
    top: 130px;
}
.nosotros__imagen{
    width: 100%;
    border-radius: 3px;
}


/********************************************************* */
/* Productos */
.productos{
    width: 100%;
    height: 1100px;
    background-color: #0059b3;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    margin-top:80px;
    margin-bottom: 80px;
}
.productos__titulo{
    width: 300px;
    height: 50px;
    background-color: rgb(54, 196, 54);
    position: absolute;
    left: 40%;
}
.productos__contenedor{
    width: 280px;
    height: 400px;
    background-color: #cc3399;
    margin-top: 100px;
    margin-left: 25px;
}
.productos__pc1{
    width: 100%;
    height: 350px;
    background-color:#6699ff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
}
.productos__cuerpo{
    background-color: mediumslateblue;
    width: 100%;
    height: auto;
}
.productos__laptop{
    width: 100%;
    height: auto;
}
.productos__parrafo{
    text-align: center;
    background-color: mediumpurple;
}
.productos__precio{
  background-color: lightslategrey;
  text-align: center;
}
.productos__boton{
    margin-top: 20px;
    margin-left: 35%;
}
    .productos__botonComprar{
        border: 1px solid black;
        font-size: 1.1rem;
        padding: 5px 10px;
        text-align: center;
    }



/********************************************************/
/* Servicios */
.section__servicios{
    width: 100%;
    height: 500px;
    background-color: #b3d9ff;
   
}

.section__contacto{
    width: 100%;
    height: 500px;
    background-color: #80bfff;
    margin-bottom: 20px;
}

/* Pie de pagina */
.footer{
    width: 100%;
    height: 200px;
    background-color: #98e6e6;
}